@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

h1 {
    font-family: 'Sriracha', cursive;
    font-size: 5em;
    text-align: center;
    background-color: cornflowerblue;
}